.blog-content {

  &__cats {
    border-bottom: 1px dashed $theme-border-grey;
    padding-bottom: ($spacing-unit * 4);

    .categories {
      color: transparent;

      ul {
        text-align: center;

        li {
          border-bottom: 1px solid $theme-border-grey;
          padding: ($spacing-unit * 2) 0;

          &:last-of-type {
            border-bottom: 0;
          }

          @media #{$ipad} {
            border-bottom: 0;
          }

          a {
            color: $theme-black;
          }

        }

      }

    }

  }

}

