.blog-content {
  background-color: $theme-bg-grey;
  border-left: 10px solid $theme-color;
  padding: ($spacing-unit * 6) 0;

  &__list {

    &__month {
      color: $theme-color;
      display: block;
      padding: ($spacing-unit * 4) 0;
      text-transform: uppercase;
    }

    &__blog-main {
      margin-bottom: ($spacing-unit * 3);

      @media #{$ipad} {
        background-color: $theme-white;
        float: left;
        max-height: 250px;
        overflow: hidden;
        width: 100%;
      }

      @media #{$desktop} {
        max-height: 315px;
      }

      &__img-block {

        @media #{$ipad} {
          float: left;
          width: 50%;
        }

        img {
          display: block;
          height: 100%;
          max-width: 100%;
        }

      }

      &__post-content {
        background-color: $theme-white;
        padding: ($spacing-unit * 12) ($spacing-unit * 8);

        @media #{$ipad} {
          float: right;
          min-height: 207px;
          padding: ($spacing-unit * 4) ($spacing-unit * 8);
          width: 50%;
        }

        @media #{$desktop} {
          min-height: 320px;
          padding: ($spacing-unit * 12) ($spacing-unit * 8);
        }

        &__feed-title {
          @include font-size(24px);
          @include line-height(28px);
          font-weight: bold;
          margin-bottom: ($spacing-unit * 2);

          a {
            color: $theme-black;
            display: block;
            text-align: center;
          }

        }

        &__post-detail-block {
          text-align: center;

          &__time {
            @include font-size(12px);
            padding-bottom: ($spacing-unit * 3);
          }

          p {
            @include line-height(20px);
            padding-bottom: ($spacing-unit * 5);
          }

        }

        &__anchor {
          @include font-size(14px);
          color: $theme-color;
          display: block;
          font-weight: bold;
          padding-bottom: ($spacing-unit * 6);
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;

          &:hover {
            color: $theme-color;
          }

        }

        &__btn-social {
          text-align: center;

          li {
            display: inline-block;
            margin-right: ($spacing-unit * 2);

            a {
              @include font-size(20px);
              color: $theme-black;
              transition: all .3s ease-in-out .1s;

              &:hover {
                color: $theme-color;
              }

            }

          }

        }

      }

    }

  }

}


