.default-holder-block--blog {
  margin-bottom: 0;
}

.blog-holder {
  padding: ($spacing-unit * 5) 0;
  text-align: center;

  h3 {
    @include font-size(20px);
    font-weight: bold;
    position: relative;
    text-transform: uppercase;

    &:before {
      border: 25px solid $theme-white;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
      content: ' ';
      height: 0;
      left: 43%;
      position: absolute;
      top: 43px;
      transform: rotate(180deg);
      width: 0;

      @media #{$ipad} {
        left: 48%;
      }

    }

  }

}


