<?php
/*
Template Name: Home
*/
?>
<?php get_header(); ?>

<div class="home-hero" style="background-image: url('<?php echo get_template_directory_uri(); ?>/images/africa-img.jpeg')">
    <div class="home-hero__overlay"></div>
    <div class="home-hero__absolute-content">
        <div class="col-xs-12">
            <h1 class="home-hero__absolute-content__title">Fight poverty in your community</h1>
        </div>
    </div>
</div>

<div class="home-intro-block">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="home-intro-block__holder">
                    <div class="home-intro-block__holder__images">
                        <img class="img-responsive" src="http://placehold.it/364x200">
                    </div>
                    <div class="home-intro-block__holder__text">
                        <h2>Our Service</h2>
                        <p>We provide support to refugees, asylum seekers and migrants workers living in Leicester. We strive to integrate them into their local community and help them live a normal life.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="home-intro-block__holder">
                    <div class="home-intro-block__holder__images">
                        <img class="img-responsive" src="http://placehold.it/364x200">
                    </div>
                    <div class="home-intro-block__holder__text">
                        <h2>Our projects</h2>
                        <p>We organise activities to advance education and provide facilities to aid social welfare. We also work in partnership with other agencies to better support the community.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="home-intro-block__holder">
                    <div class="home-intro-block__holder__images">
                        <img class="img-responsive" src="http://placehold.it/364x200">
                    </div>
                    <div class="home-intro-block__holder__text">
                        <h2>Our Mission</h2>
                        <p>We aim to eliminate social isolation, promote integration, provide skills for work and community cohesion among Black and Minority Ethnic groups living in Leicester.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home-mission-block">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="home-mission-block__holder">
                    <h2 class="home-mission-block__holder__title">Mission Statement</h2>
                    <p class="home-mission-block__holder__text">Identity, Connexions and Network is a charity committed to improving the lives of Africans and immigrants in Leicester.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row mobile-row">
        <div class="logo-holder">
            <div class="col-xs-12">
                <h3 class="logo-holder__carousel-wrap__title">UNITY MAKES STRENGTH <br>
                    <span>OUR PARTNERS ARE FROM ALL OVER THE WORLD</span>
                </h3>
            </div>
            <div class="col-xs-12">
                <div class="logo-holder__carousel-wrap carousel-wrap">
                    <ul class="logo-holder__carousel-wrap__products-grid bxslider">
                        <li class="logo__carousel-wrap__products-grid__item">
                            <img src="<?php bloginfo('template_directory'); ?>/images/english_landscape_pantone.jpg" class="img-responsive" alt="manchester skyline" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<?php get_footer(); ?>
