.single-post {
  background-color: $theme-bg-grey;

  .entry-title {
    @include font-size(36px);
    @include line-height(45px);
    color: $theme-white;
    display: block;
    text-align: center;
    text-decoration: none;

    @media #{$ipad} {
      @include font-size(54px);
      @include line-height(56.7px);
    }

  }


}