.single-footer {
  background-color: $theme-white;
  padding: ($spacing-unit * 6) 0;

  &__holder {
    text-align: center;

    h2 {
      @include font-size(20px);
      border-bottom: 4px solid $theme-color;
      font-weight: bold;
      padding-bottom: ($spacing-unit * 3);
    }

    &__btn-social {
      margin: ($spacing-unit * 3) 0;
      text-align: center;

      li {
        display: inline-block;
        margin-right: ($spacing-unit * 2);

        a {
          @include font-size(20px);
          color: $theme-black;
          transition: all .3s ease-in-out .1s;

          &:hover {
            color: $theme-color;
          }

        }

      }

    }

  }

  .single-post-holder-block {

    &__title {
      @include font-size(20px);
      border-bottom: 4px solid $theme-color;
      font-weight: bold;
      margin-bottom: ($spacing-unit * 4);
      padding-bottom: ($spacing-unit * 3);
      text-align: center;
    }

    &__blog-main {
      margin-bottom: ($spacing-unit * 3);

      @media #{$ipad} {
        padding: 0 ($spacing-unit * 5);

        &:first-of-type {
          padding-left: ($spacing-unit * 3);
        }

        &:last-of-type {
          padding-right: ($spacing-unit * 3);
        }

      }

      &__img-block {

        @media #{$ipad} {
          max-height: 205px;
          overflow: hidden;
        }

        img {
          display: block;
          height: 100%;
          max-width: 100%;
        }

      }

      &__post-content {
        background-color: $theme-white;
        padding: ($spacing-unit * 6) 0;

        &__feed-title {
          @include font-size(18px);
          @include line-height(24px);
          font-weight: bold;
          margin-bottom: ($spacing-unit * 2);

          a {
            color: $theme-black;
          }

        }

        &__post-detail-block {

          p {
            @include line-height(20px);
            padding-bottom: ($spacing-unit * 3);
          }

        }

        &__anchor {
          @include font-size(14px);
          color: $theme-color;
          display: block;
          font-weight: bold;
          padding-bottom: ($spacing-unit * 6);
          text-align: left;
          text-decoration: none;
          text-transform: uppercase;

          &:hover {
            color: $theme-color;
          }

        }

      }

    }

  }

}
