.navbar-collapse {
  float: right;
  padding-top: ($spacing-unit * 2);
  width: 100%;

  @media #{$ipad} {
    width: auto;
  }

  .nav {

    li {
      display: block;
      text-align: center;
      width: 100%;

      @media #{$ipad} {
        display: inline-block;
        text-align: left;
        width: auto;
      }

      a {
        @include font-size(16px);
        background-color: transparent;
        color: $theme-black;
        padding: ($spacing-unit * 2);

        @media #{$ipad} {
          color: $theme-white;
        }

        &:hover,
        &:visited,
        &:focus {
          background-color: transparent;
        }

      }

    }

    .active {

      a {
        color: $theme-color;
      }

    }

  }

  .dropdown-menu {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    display: block;
    float: none;
    position: relative;

    @media #{$ipad} {
      border-radius: 0;
      display: none;
      float: left;
      position: absolute;
    }

  }

  .open {

    @media #{$ipad} {

      .dropdown-menu {
        display: block;
      }

    }

  }

}

.navbar-fixed-top {

  .navbar-collapse {
    max-height: 400px;

  }

}

.bg-color {

  .navbar-collapse {

    .nav {

      li {

        a {
          color: $theme-black;
        }

      }

      .active {

        a {
          color: $theme-color;
        }

      }

    }

  }

}



