.page-template-contact {

  .default-holder-block {
    margin-bottom: 0;
  }

}

.contact-information-block {
  margin-bottom: -1px;


 &__text {
   background-color: $theme-color;
   min-height: 200px;
   text-align: center;

   @media #{$ipad} {
     min-height: 382px;
   }

   p,
   a {
     @include font-size(18px);
     @include line-height(22px);
     color: $theme-white;
     display: block;
     font-weight: bold;
     padding-top: ($spacing-unit * 10);
     text-decoration: none;
     transition: all .3s ease-in-out .1s;

     @media #{$ipad} {
       padding-top: ($spacing-unit * 10 + 100);

       &:hover {
         color: $main-text;
       }

     }

   }

   i {
     @include font-size(40px);
     display: block;
     margin-bottom: ($spacing-unit * 6);
   }

 }

 &--second {
   background-color: $theme-bg-opacity-blue;
 }

}

.bg-grey {
  background-color: $theme-bg-grey;
}


.contact-holder {
  float: left;
  margin: ($spacing-unit * 6) 0;
  width: 100%;

  &__content {

    h2 {
      @include font-size(30px);
      @include line-height(42px);
      color: $theme-color;
      text-align: center;
      text-transform: capitalize;
    }

    p {
      @include font-size(14px);
      @include line-height(25px);
      color: $text-blog-p;
      margin: ($spacing-unit) auto;
      text-align: center;
      width: 100%;

      @media #{$ipad} {
        width: 50%;
      }

    }

  }

  &__form {

    em {
      color: $theme-warning-red;
    }

    input {
      border: 1px solid $theme-border-grey;
      height: 35px;
      margin: ($spacing-unit * 2) 0;
      outline: none;
      padding-left: ($spacing-unit);
      width: 100%;
    }

    textarea {
      border: 1px solid $theme-border-grey;
      margin: ($spacing-unit * 2) 0;
      outline: none;
      padding-left: ($spacing-unit);
      width: 100%;
    }

    .wpcf7-submit {
      background-color: $theme-color;
      border: 0;
      color: $theme-white;
      height: 45px;
      text-transform: uppercase;
      width: 50%;

      @media #{$ipad} {
        width: 20%;
      }

    }

  }

}




