.contact-icon-holder {

  &__item {
    margin-bottom: ($spacing-unit * 6);
    text-align: center;

    @media #{$ipad} {
      margin-top: -100px;
      position: relative;
      width: 100%;
    }

    &__icon {
      background-color: $theme-color;
      border-radius: 100%;
      color: $theme-white;
      height: 150px;
      margin: 0 auto ($spacing-unit * 3);
      width: 150px;

      i {
        @include font-size(70px);
        padding-top: ($spacing-unit * 8);
      }

    }

    &__text {

      h3 {
        @include font-size(18px);
        font-weight: bold;
        margin-bottom: ($spacing-unit * 3);
        text-transform: uppercase;
      }

      a {
        @include font-size(14px);
        color: $theme-black;
        text-decoration: underline;
      }

    }

  }

}



