@font-face {
  font-family: 'Helvetica';
  src: url('fonts/Helvetica.eot') format('truetype');

  src: url('fonts/Helvetica.woff') format('woff'),
  url('fonts/Helvetica.eot') format('embedded-opentype');
  font-weight: normal;
}

//Font Variables

$font-stack: 'Arial Regular', sans-serif;
$font-theme: 'Roboto', sans-serif;

//Spacing Variables

$spacing-unit: 5px;

//Colour Variables

$theme-white: #fff;
$theme-black: #000;
$theme-color: #20aacb;
$dayfive-color: #20aacb;
$text-footer-below: #666;
$text-black: #252525;
$text-lblack: #333;
$text-grey: #999;
$main-text: #666;
$text-blog-grey: #c0c3c3;
$text-blog-p: #818181;

$theme-bg-light-black: #161515;
$theme-bg-footer: #484848;
$theme-bg-opacity-white: rgba(255, 255, 255, .94);
$theme-bg-opacity-blue: rgba(32, 170, 203, .94);
$theme-bg-opacity-black: rgba(33, 40, 45, .4);
$theme-bg-yellow: #fdc674;
$theme-bg-yellow-opacity: rgba(253, 198, 116, .8);
$theme-bg-grey: #fafafa;
$theme-bg-facebook: #4a6dab;
$theme-bg-pink: #c768ff;
$theme-bg-orange: #ff6b6b;
$theme-bg-aqua: #4ecdc4;


//theme borders

$theme-border-grey: #dcdcdc;
$theme-footer-border: #5c5c5c;
$theme-border-black: #242424;
$theme-border-sign-up: #eee;

//warning colors
$theme-warning-red: #f00;

//Media Query Variables

$mobile: 'only screen and (min-width: 480px)';
$mobile-landscape: 'only screen and (min-width: 568px)';

$mobile-iphone6: 'only screen and (min-width: 375px)';
$mobile-iphone6-landscape: 'only screen and (min-width: 667px)';

$ipad: 'only screen and (min-width: 768px)';
$ipad-landscape: 'only screen and (min-width: 1024px)';

$desktop: 'only screen and (min-width: 1170px)';

