.default-holder-block {
  background-position: top center;
  background-size: cover;
  height: 350px;
  margin-bottom: ($spacing-unit * 4);
  position: relative;

  &__overlay {
    background-color: $theme-bg-opacity-black;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  &__absolute-content {
    position: absolute;
    top: 50%;
    width: 100%;

    h2 {

      a {
        @include font-size(36px);
        @include line-height(45px);
        color: $theme-white;
        display: block;
        text-align: center;
        text-decoration: none;

        @media #{$ipad} {
          @include font-size(54px);
          @include line-height(56.7px);
        }

      }

    }

  }

}

.entry-content-holder {
  padding: ($spacing-unit * 4) 0;

  h1 {
    @include font-size(18px);
    font-weight: 800;
    margin-bottom: ($spacing-unit * 2);
  }

  p {
    margin-bottom: ($spacing-unit * 2);
  }

  ul {
    list-style: disc;
    margin: ($spacing-unit * 2) 0;
    padding-left: ($spacing-unit * 3);

    li {
      @include font-size(14px);
      @include line-height(22px);
      font-family: $font-stack;
      list-style: disc;
    }

  }

}

