.bg {
  background-color: $theme-white;
  border: 0;
  padding-bottom: ($spacing-unit + 2);
  transition: all .3s ease-in-out .1s;

  @media #{$ipad} {
    background-color: transparent;
  }

  .logo {
    padding-top: ($spacing-unit * 2 + 3);
    width: 40%;

    @media #{$ipad} {
      width: 55%;
    }

    .black {
      display: block;

      @media #{$ipad} {
        display: none;
      }

    }

    .white {
      display: none;

      @media #{$ipad} {
        display: block;
      }

    }

  }

}

.bg-color {
  background-color: $theme-white;

  .logo {

    .black {
      display: block;
    }

    .white {
      display: none;
    }

  }

  @media #{$ipad} {

    .navbar-collapse {

      .dropdown-menu {
        background-color: $theme-bg-opacity-white;
        margin-top: ($spacing-unit * 6 + 3);
      }

    }

  }

}
