.page-template-about {

  .default-holder-block {

    h2 {
      @include font-size(36px);
      @include line-height(45px);
      color: $theme-white;
      display: block;
      text-align: center;
      text-decoration: none;

      @media #{$ipad} {
        @include font-size(54px);
        @include line-height(56.7px);
      }

    }

  }

}

.about-content {
  padding: ($spacing-unit * 6) 0;

  &__intro {
    margin-bottom: ($spacing-unit * 3);

    h2 {
      @include font-size(30px);
      @include line-height(42px);
      color: $theme-color;
      text-align: center;
      text-transform: capitalize;
    }

    p {
      @include font-size(14px);
      @include line-height(25px);
      color: $text-blog-p;
      margin: ($spacing-unit) auto;
      text-align: center;
      width: 100%;

      @media #{$ipad} {
        width: 50%;
      }

    }

  }

  &__main {

    h2 {
      @include font-size(15px);
      font-weight: 700;
      margin-bottom: ($spacing-unit * 2);
    }

    p {
      @include font-size(13px);
      @include line-height(24px);
      color: $text-blog-p;
    }

  }

}