.logo-holder {
  background-color: $theme-bg-grey;
  clear: both;
  float: left;
  overflow: hidden;
  padding: ($spacing-unit * 4) 0;
  width: 100%;

  &__carousel-wrap {
    
    &__title {
      @include font-size(20px);
      background-color: $theme-color;
      color: $theme-white;
      font-weight: bold;
      padding: ($spacing-unit * 10) 0;
      position: relative;
      text-align: center;

      span {
        @include font-size(12px);
        font-weight: normal;
      }

      @media #{$ipad} {
        @include font-size(30px);

        span {
          @include font-size(14px);
        }

      }

      &:before {
        border: 25px solid $theme-color;
        border-left-color: transparent;
        border-right-color: transparent;
        border-top-color: transparent;
        content: ' ';
        height: 0;
        left: 43%;
        position: absolute;
        top: 158px;
        transform: rotate(180deg);
        width: 0;

        @media #{$ipad} {
          left: 48%;
        }

      }

    }

    .bx-wrapper {

      .bx-viewport {
        background-color: transparent;
        border: 0;
        box-shadow: none;
        top: -30px;

        @media #{$ipad} {
          top: -80px;
        }

      }

    }

  }

}



