.home-hero {
  background-position: top center;
  background-size: cover;
  height: 600px;
  margin-bottom: ($spacing-unit * 4);
  position: relative;

  &__overlay {
    background-color: $theme-bg-opacity-black;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  &__absolute-content {
    position: absolute;
    top: 50%;
    width: 100%;

    &__title {
      @include font-size(36px);
      @include line-height(45px);
      color: $theme-white;
      text-align: center;

      @media #{$ipad} {
        @include font-size(54px);
        @include line-height(56.7px);
      }

    }

    &__anchor {
      @include font-size(13px);
      border: 2px solid $theme-color;
      border-radius: 30px;
      color: $theme-white;
      cursor: pointer;
      display: block;
      margin: ($spacing-unit * 12) auto;
      padding: ($spacing-unit * 2) ($spacing-unit * 5);
      text-align: center;
      text-decoration: none;
      text-transform: capitalize;
      width: 50%;

      @media #{$ipad} {
        width: 20%;
      }

      @media #{$desktop} {
        width: 12%;
      }

      &:hover {
        color: $theme-white;
        text-decoration: none;
      }

    }

  }

}

.logo-holder {

  &__carousel-wrap {
    height: 50px;

    @media #{$ipad} {
      height: 100px;
    }

  }

}



.home {

  .bp-hs {
    height: 180px;

    @media #{$ipad} {
      height: 430px;
    }

    @media #{$desktop} {
      height: 550px;
    }

  }

}



