.home-more-content {
  float: left;
  width: 100%;

  &--blue,
  &--pink,
  &--orange {
    float: left;
    min-height: 320px;
    padding: ($spacing-unit * 6) 0;
    width: 100%;

    @media #{$ipad} {
      min-height: 420px;
    }

    @media #{$desktop} {
      min-height: 320px;
    }


    h2 {
      @include font-size(15px);
      @include line-height(16px);
      color: $theme-white;
      font-weight: bold;
      margin-bottom: ($spacing-unit * 5);
      text-transform: uppercase;
    }

    p {
      @include font-size(13px);
      @include line-height(23px);
      color: $theme-white;
      margin-bottom: ($spacing-unit * 5);
    }

    ul {
      list-style: disc;
      padding-left: ($spacing-unit * 3);

      li {
        @include font-size(13px);
        @include line-height(23px);
        color: $theme-white;
      }

    }

    a {
      border: 1px solid $theme-white;
      border-radius: 3px;
      color: $theme-white;
      display: inline-block;
      font-weight: 700;
      height: 50px;
      padding: ($spacing-unit * 3) ($spacing-unit * 7);
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: $theme-white;
        color: $text-black;
      }

    }

  }

  &--blue {
    background-color: $theme-bg-aqua;
  }

  &--pink {
    background-color: $theme-bg-pink;
  }

  &--orange {
    background-color: $theme-bg-orange;
  }

}


