.home-social {
  background-color: $theme-bg-grey;
  float: left;
  padding: ($spacing-unit * 6) 0;
  width: 100%;

  &__list {

    &__links {
      text-align: center;

      &__item {
        display: block;
        margin: 0 auto ($spacing-unit * 2);

        @media #{$ipad} {
          display: inline-block;
          margin-bottom: 0;
        }

        a {
          color: $text-black;
          text-decoration: none;

          @media #{$ipad} {
            margin-right: ($spacing-unit * 2);
          }

        }

        i {
          @include font-size(30px);
          background-color: $text-grey;
          border-radius: 100%;
          color: $theme-white;
          display: block;
          height: 50px;
          margin: 0 auto ($spacing-unit * 2);
          padding-top: ($spacing-unit * 2);
          width: 50px;

          @media #{$ipad} {
            display: inline-block;
            margin-right: ($spacing-unit);
          }

        }

        .fa-twitter {
          background-color: $theme-color;
        }

        .fa-facebook {
          background-color: $theme-bg-facebook;
        }

      }

    }

  }

}
