.home-latest {
  float: left;
  padding: ($spacing-unit * 6) 0;
  width: 100%;

  &__main-content {
    margin-bottom: ($spacing-unit * 3);
    text-align: center;

    h2 {
      @include font-size(25px);
      @include line-height(27px);
      color: $theme-color;
      letter-spacing: 1px;
      margin-bottom: ($spacing-unit * 2);
      text-transform: uppercase;
    }

    p {
      @include font-size(13px);
      @include line-height(19px);
      color: $text-blog-p;
      margin: 0 auto;
      width: 100%;

      @media #{$ipad} {
        width: 50%;
      }

    }

  }

  &__card-holders {
    background-color: $theme-white;
    border: 1px solid $theme-border-grey;
    margin-bottom: ($spacing-unit * 3);
    min-height: 350px;

    a {
      text-decoration: none;
    }

    &__bg-img {
      background-position: top center;
      background-size: cover;
      height: 210px;
    }

    &__card {
      padding: ($spacing-unit * 4);

      a {
        text-decoration: none;
      }

      h3 {
        @include font-size(15px);
        @include line-height(16px);
        color: $text-black;
        font-weight: bold;
        margin: 0 0 ($spacing-unit * 3);
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: $theme-color;
          text-decoration: none;
        }

      }

      hr {
        float: left;
        margin: ($spacing-unit) 0;
        width: 10%;
      }

      p {
        @include font-size(13px);
        @include line-height(23px);
        clear: both;
        color: $text-blog-p;
      }

      &__post-meta {
        margin-bottom: ($spacing-unit * 2);

        span {
          @include font-size(13px);
          @include line-height(19px);
          color: $text-blog-grey;
        }

        i {
          padding-right: ($spacing-unit * 2);
        }

      }

      &__anchor {
        @include font-size(13px);
        color: $theme-color;
        display: block;
        font-weight: 700;
        margin-top: ($spacing-unit * 3);
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          color: $text-black;
          text-decoration: none;
        }

      }

    }

  }

}





