.home-intro {
  background-image: url('./images/18.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: 50% 100%;
  float: left;
  padding: ($spacing-unit * 12 + 20) 0 ($spacing-unit * 12 + 40);
  position: relative;
  width: 100%;

  h2 {
    @include font-size(30px);
    @include line-height(42px);
    color: $theme-white;
    text-align: center;
    text-transform: capitalize;
  }

  p {
    @include font-size(14px);
    @include line-height(25px);
    color: $theme-white;
    font-weight: 300;
    margin: ($spacing-unit) auto;
    text-align: center;
    width: 100%;

    @media #{$ipad} {
      width: 50%;
    }

  }

}


