.home-team {
  background-color: $theme-bg-grey;
  float: left;
  padding: ($spacing-unit * 6) 0;
  width: 100%;

  .thumbnail {
    border: 0;
    border-radius: 0;
    text-align: center;

    img {
      width: 80%;
    }

  }

  &__content {
    margin-bottom: ($spacing-unit * 3);
    text-align: center;

    h2 {
      @include font-size(30px);
      @include line-height(42px);
      color: $theme-color;
      text-align: center;
      text-transform: capitalize;
    }

    p {
      @include font-size(14px);
      @include line-height(25px);
      color: $text-blog-p;
      margin: ($spacing-unit) auto;
      text-align: center;
      width: 100%;

      @media #{$ipad} {
        width: 50%;
      }

    }

  }

}

