.before-cta {
  background-color: $theme-bg-orange;
  float: left;
  padding: ($spacing-unit * 12) 0;
  width: 100%;

  &__content {

    p {
      @include font-size(20px);
      @include line-height(30px);
      color: $theme-white;
      display: inline-block;
      font-weight: 700;
    }

    a {
      @include font-size(14px);
      background-color: $theme-bg-aqua;
      border: 0;
      border-radius: 3px;
      color: $theme-white;
      display: inline-block;
      font-weight: 700;
      padding: ($spacing-unit * 2) ($spacing-unit * 4);
    }

  }

}
