.footer-main {
  background-color: $text-lblack;
  float: left;
  padding: ($spacing-unit * 6) 0 0;
  width: 100%;

  .block-title {
    @include font-size(14px);
    @include line-height(17px);
    color: $theme-white;
    display: block;
    font-weight: 700;
    margin-bottom: ($spacing-unit * 5);
    text-align: center;

    @media #{$ipad} {
      text-align: left;
    }

  }

  &__content {
    text-align: center;

    @media #{$ipad} {
      text-align: left;
    }

    &__item {

      i {
        color: $text-grey;
        font-weight: 600;
      }

      a {
        @include font-size(15px);
        @include line-height(24px);
        color: $theme-color;
        font-weight: 600;
        margin-left: ($spacing-unit);
      }

    }

  }

  &__social {
    margin-bottom: ($spacing-unit * 4);
    margin-top: ($spacing-unit * 4);
    text-align: center;

    @media #{$ipad} {
      margin-bottom: 0;
      text-align: left;
    }

    &__links {

      &__item {
        display: inline-block;
        margin-right: ($spacing-unit);

        i {
          @include font-size(15px);
          border: 2px solid $text-grey;
          border-radius: 100%;
          color: $text-grey;
          height: 30px;
          padding-top: ($spacing-unit - 1);
          text-align: center;
          width: 30px;
        }

      }

    }

  }

  &__links {
    text-align: center;

    @media #{$ipad} {
      text-align: left;
    }

    &__holder {

      &__item {
        @include line-height(34px);

        a {
          @include font-size(13px);
          @include line-height(34px);
          color: $text-grey;
          font-weight: 500;
        }

      }

    }

  }

  &__copyright {
    border-top: 1px solid $theme-border-black;
    float: left;
    margin-top: ($spacing-unit * 4);
    padding: ($spacing-unit * 4) 0 ($spacing-unit * 4);
    width: 100%;

    p {
      @include font-size(13px);
      color: $text-grey;
      float: none;
      font-weight: 600;
      text-align: center;
      width: 100%;

      @media #{$ipad} {
        float: left;
        text-align: left;
        width: auto;
      }

      a {
        color: $theme-color;
      }

    }

    &__links {
      float: none;
      text-align: center;

      @media #{$mobile} {
        float: right;
        text-align: left;
      }

      &__item {
        display: inline-block;

        @media #{$ipad} {
          display: inline-block;
          margin-left: ($spacing-unit);
        }

        a {
          @include font-size(13px);
          color: $text-grey;
          font-weight: 600;
        }

      }

    }

  }

}




