.footer-main {

  .copyright-block {
    border-top: 1px solid $theme-white;
    padding: ($spacing-unit * 4) 0;

    &__reg-text {
      @include font-size(12px);
      color: $theme-white;
      float: left;
    }

    &__tagline {
      @include font-size(12px);
      color: $theme-white;
      float: right;

      a {
        color: $dayfive-color;
      }

    }

  }

}
